<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.piyush.mynav">

    <application
        android:allowBackup="true"
        android:icon="@drawable/download"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Algorithm Tutorials"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".AnotherActivity" />
        <activity android:name=".ActivityB" />
        <activity android:name=".ActivityC" />
        <activity android:name=".ActivityD" />
        <activity android:name=".ActivityInterview" />
        <activity android:name=".ActivityTutorial" />
        <activity android:name=".TutorialAnotherActivity" />
        <activity android:name=".ActivityAboutUs" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".QuizActivity"></activity>
    </application>

</manifest>